body{
    background-color: rgb(231, 238, 21);
}



.highlight{
    display: inline-block;
    background: #060606;
    color: #ffffff;
}

.box2{
    margin: auto;
    max-width: 800px;
    height: 400px;
}

.box1{ 
    margin:auto;
    /* border: solid 10px; */
    max-width: 1000px;
    height: 1200px;
    
    position: relative;

}

 img{
    width: 100%; 
}

.switch {
    animation-name: switch; 
    animation-duration: 1s;
}

.box3{
 display: flex;
 max-width: 1300px;
 width: 1100px;
 border: #060606 20px;

}

.flex1{
    display: flex;
    width: 500px;
    height: 600px;
    margin: auto;
}

.flex2{
    display: flex;
    width: 500px;
    height: 600px;
}