*{
box-sizing: border-box;
}

body{
    background-color: black;
    color:white;
    font-size: 20px;

width: auto;
height: auto;
text-align: center;
/* padding: 50px; */




}
img { 
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    }

.start{ 
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
    
    /* display: none; */
}


@media screen and (max-width: 1000px){
    .start{

        display: flex;
    flex-direction: column;
    }
}


.start2{
    display: flex;
    flex-direction: column;
    display: none;
    font-size: 22px;
}

@media screen and (max-width: 875px){
.start{
    display: none;
}
.start2{
    display: flex;
    flex-direction: column;
}
}

.start3{
    display: flex;
    flex-direction: column;
    display: none;
}

@media screen and (max-width: 750px){
    .start{
        display: none;
    }
    .start2{
        display: none;
        /* flex-direction: column; */
    }
    .start3{
        display: flex;
        flex-direction: column;
    }
    }
    
 
.start4{
    display: flex;
    flex-direction: column;
    display: none;
}
@media screen and (max-width: 625px){
    .start{
        display: none;
    }
    .start2{
        display: none;
        /* flex-direction: column; */
    }
    .start3{
        display: none;
    }
    .start4{
        display: flex;
        flex-direction: column;
        position: fixed;
    }
}
